:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #0a0d13;
    --color-primary: rgb(238, 132, 190);
    --color-secondary: #200e34;

  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }